<div class="col-md-3 mb-3">
    <div class="bg-light p-3 rounded shadow-sm h-100">
        <h5 class="text-uppercase mb-3 text-muted" style="font-size: 0.9rem; font-weight: 700;">
            @Title
        </h5>
        
        <div class="d-flex flex-column gap-2">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Kolumna";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}