<div class="kanban-col">
    <div class="kanban-col-inner">
        <h5 class="kanban-col-title">
            @Title
        </h5>

        <div class="kanban-col-scroll">
            <div class="kanban-col-cards">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Kolumna";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}