@page "/"
@page "/projects"
@attribute [Authorize]

<div>
    <h2>Moje Tablice</h2>
    <a class="btn btn-primary" href="/projects/new">
    + Dodaj Nową Tablicę
    </a>

    <p>Tu wyświetlą się stworzone tablice...</p>

</div>